# Build products and artifacts
!/.gitignore
.m2-repository/
target/
bower_components/
node_modules/
pom.xml.versionsBackup

# Stuff from various IDE's and editors
*.iml
*~
.idea/*
*.ipr
*.iws

.toDelete

.settings
.project
.classpath
bin
overlays